<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <form method="post" action="">
        <input type="text" placeholder="name" name='name' class="form-control" required/>
        <input type="text" placeholder="width" value="780" name='width' class="form-control"/>
        <table class="table table-bordered table-hover" id="items">
          <thead>
          <tr>
            <th class="text-center">
              Row
            </th>
            <th class="text-center">
              Column
            </th>
            <th class="text-center">
              Image URL
            </th>
            <th class="text-center">
              Link URL
            </th>
            <th class="text-center">
              Delete
            </th>
          </tr>
          </thead>
          <tbody>
          <tr id='0'>
            <td>
              <input type="text" value="1" name='itm[0][row]' class="form-control"/>
            </td>
            <td>
              <input type="text" value="1" name='itm[0][column]' class="form-control"/>
            </td>
            <td>
              <input type="text" name='itm[0][imageURL]' placeholder='Image URL' class="form-control"/>
            </td>
            <td>
              <input type="text" name='itm[0][linkURL]' placeholder='Link URL' class="form-control"/>
            </td>
            <td>
              <a class="btn btn-default pull-right glyphicon glyphicon-minus delete-row"></a>
            </td>
          </tr>
          </tbody>
        </table>
        <a class="btn btn-default pull-left add-row">Add Row</a>
        <button type="submit" class="btn btn-default pull-left">Submit</button>
      </form>
    </div>
  </div>
</div>