<ul>
  <li>Elements
    <ul>
        <li><a href="/element/show">Show All</a></li>
        <li><a href="/element/create">Create</a></li>
    </ul>
  </li>
  <li>
    <a href="/ecomm/create">Create ecomm</a>
  </li>
</ul>