<ul>
  <% if !@ecomms.nil? && @ecomms.size != 0 %>
  <% for @e in @ecomms %>
      <li><a href="/show/<%= @e[:_id] %>"><%= @e[:name] %></a></li>
  <% end %>
      <% else %>
        <p>No ecomms created yet</p>
        <a href="/create">Create your first ecomm</a>
  <% end %>
</ul>