<ul>
  <li>Elements
    <ul>
        <li>Show</li>
        <ul>
          <li><a href="/element/show">Show All</a></li>
          <% @groups.each do |g| %>
            <li><a href="/element/show/<%= g %>"/><%= g %></li>
              <% end %>

        </ul>
        <li><a href="/element/create">Create</a></li>
    </ul>
  </li>
  <li>
    <a href="/ecomm/create">Create ecomm</a>
  </li>
</ul>