<!DOCTYPE html>
<html>
<head>
  <title>Ecomm creator</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <script src="/vendor/jquery-2.1.3.min.js"></script>
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <ul class="nav nav-pills">
    <li><a class="btn btn-default navbar navbar-brand glyphicon glyphicon-home" href="/">Home</a></li>
    <% if signed_in %>
        <li><a class="btn btn-default navbar navbar-brand glyphicon glyphicon-plus" href="/create">Create</a></li>
    <% end %>
    <li role="presentation" class="dropdown active pull-right">
      <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="true">
        <%= username %><span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="/user/signin">Login</a></li>
        <li class="divider"></li>
        <li><a href="/user/logout">Logout</a></li>
      </ul>
    </li>

  </ul>


  <div>
    <% if @error then %>
        <div class="alert alert-error"><%= @error %></div>
    <% end %>
    <%= yield %>
  </div>

</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/vendor/jquery-2.1.3.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var i = 1;
        var r = 1;
        var c = 1;

        $(".add-row").click(function () {
            console.log('add row clicked');
            c = 1;
            var shtml = "<tr id='" + i + "'><td><input name='itm[" + i + "][row]' type='text' value='" + (r + 1) + "' class='form-control'/></td>" +
                    "<td><input name='itm[" + i + "][column]' type='text' value='" + c + "' class='form-control'/></td>" +
                    "<td><input name='itm[" + i + "][imageURL]' type='text' placeholder='imageURL' class='form-control input-md'/> </td>" +
                    "<td><input name='itm[" + i + "][linkURL]' type='text' placeholder='Link URL'  class='form-control input-md'></td>" +
                    "<td><a class='btn btn-default pull-right glyphicon glyphicon-minus remove-row'></a></td></tr>";
//            $("tr:last").after(shtml);
//            $(this).closest('TR').after(shtml);
//            $('#' + i).html(shtml);
            $('#items').append(shtml);
            i++;
            r++;
        });

        $(".delete-row").click(function () {
            var tr = $(this).closest('tr');
            tr.css("background-color", "#FF3700");
            tr.fadeOut(400, function () {
                tr.remove();
            });
            return false;
        });

        $(".add-column").click(function () {
            console.log('add column clicked');
            var shtml = "<tr id='" + i + "'><td><input name='itm[" + i + "][row]' type='text' value='" + r + "' class='form-control'/></td>" +
                    "<td><input name='itm[" + i + "][column]' type='text' value='" + (c + 1) + "' class='form-control'/></td>" +
                    "<td><input name='itm[" + i + "][imageURL]' type='text' placeholder='imageURL' class='form-control input-md'/> </td>" +
                    "<td><input name='itm[" + i + "][linkURL]' type='text' placeholder='Link URL'  class='form-control input-md'></td>" +
                    "<td><a class='btn btn-default pull-right glyphicon glyphicon-minus delete-row'></a></td></tr>";

            $('#items').append(shtml);
//            $(this).closest('TR').after(shtml);
            i++;
            c++;
        });

        $(".delete-column").click(function () {
            var tr = $(this).closest('tr');
            tr.css("background-color", "#FF3700");
            tr.fadeOut(400, function () {
                tr.remove();
            });
            return false;
        });
    });
</script>
</body>
</html>
