<div class="container">
  <form class ="form-signin" method="post" action="/user/signup">
    <h3>Signup here!</h3><hr>
    <label class="control-label" for="email">Email</label><br>
    <input style="text-transform: lowercase; id="email" name="email" maxlength="20" placeholder="Email" type="text" class="input-large"/><br><br>
    <label class="control-label" for="name">Name</label><br>
    <input name="name" maxlength="20" placeholder="Name" type="text" class="input-large"/><br><br>
    <label class="control-label" for="password">Password</label><br>
    <input name="password" maxlength="100" placeholder="Enter a Password ..." type="password" class="input-large"/> <br><br>
    <div class="controls">
      <input type="submit" value="Submit!" name="submit">
    </div>
  </form>