<div>
  <a href="/user/signup">Sign Up</a>
</div>

<form class ="form-signin" method="post" action="/user/signin">
  <h3>Please login</h3><hr>
  <label class="control-label" for="id_email">Email</label><br>
  <input name="email" style="text-transform: lowercase; maxlength="100" placeholder="Enter your email" type="text" class="input-large"/><br><br>
  <label class="control-label" for="id_password">Password</label><br>
  <input name="password" maxlength="100" placeholder="Enter your password ..." type="password" class="input-large"/><br>
  <div class="controls"><br>
    <input type="submit" value="Submit!" name="submit">
  </div>
</form>